{% extends './base.html' %}
{% block content %}
    <div class="row" style="margin: auto;">
        <div class="col-sm-4" style="align: center">
            <form action='' method="post"> {% csrf_token %}
                <div class="form-group" style="margin:0px 10px;">
                    <label class="form-label mt-4">회사명</label>
                    {{ form.company_name }}
                </div>

                <div class="form-group" style="margin:0px 10px;">
                    <label class="form-label mt-4">인턴 제목</label>
                    {{ form.intern_title }}
                </div>

                <div class="form-group" style="margin:0px 10px;">
                    <label class="form-label mt-4">만기일</label>
                    {{ form.duration }}
                </div>

                <div class="form-group" style="margin:10px 10px;">
                    <div class="row">
                        <input type="submit" class="btn btn-primary col-sm-2" style="margin: auto; display:block;" value="확인"/>
                        <input type="button" class="btn btn-primary col-sm-2" style="margin: auto; display:block;" value="취소"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}