{% extends './base.html' %}

{% block content %}
    <form method="POST" action="{% url 'common-signup' %}"> {% csrf_token %}
        <div class="row" style="float:none; margin:0 auto;">
            <div class="row" style="float:none; margin:10px auto;">
                <div class="col-sm-1">{{form.username.label_tag}}</div>
                <div class="col-sm-6">{{form.username}}</div>
            </div>
            <div class="row" style="float:none; margin:10px auto;">
                <div class="col-sm-1">{{form.password1.label_tag}}</div>
                <div class="col-sm-6">{{form.password1}}</div>
            </div>
            <div class="row" style="float:none; margin:10px auto;">
                <div class="col-sm-1">{{form.password2.label_tag}}</div>
                <div class="col-sm-6">{{form.password2}}</div>
            </div>
        </div>
        <div class="row" style="margin:10px">
            <div class="col-sm-offset-3 col-sm-1" style="margin:10px"><input type="submit" class="btn btn-primary" value="회원가입"></div>
            <div class="col-sm-offset-3 col-sm-1" style="margin:10px"><a class="btn btn-primary" href="{% url 'company-list' %}">취소</a></div>
        </div>
    </form>
{% endblock content %}